/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #ffffff, #dbeafe);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

app-root {
  width: 100%;
  display: flex;
  justify-content: center;
}